<ion-header>
  <ion-navbar>
    <ion-title>
      My feeds
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <!-- Show message if no-->
    <ion-item *ngIf="feeds.length === 0">
      No RSS feeds available. Please add by clicking the button below.
    </ion-item>
    <ion-item (click)="goToFeed(feed)" *ngFor="let feed of feeds">
      {{feed.title}}
      <ion-icon item-end name="arrow-forward"></ion-icon>
    </ion-item>
    <button ion-item color="primary" (click)="presentNewFeedModal()">
      Add RSS source
      <ion-icon item-end name="add"></ion-icon>
    </button>
  </ion-list>
</ion-content>
