<ion-header>
  <ion-navbar>
    <ion-title>
      {{feedName}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let post of posts">
            {{post.title}}
        </ion-item>
    </ion-list>
</ion-content>