<ion-header>
	<ion-navbar>
		<ion-title>
			Add RSS feed
		</ion-title>
		<ion-buttons end>
			<button ion-button icon-right color="danger" (click)="closeModal()">
				Close 
				<ion-icon name="close"></ion-icon>				
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content>
		<ion-list>
				<form [formGroup]="feed" (ngSubmit)="closeModal()">
						<ion-item>
								<ion-label color="primary" stacked>Name</ion-label>
								<ion-input type="text" placeholder="" formControlName="title"></ion-input>
						</ion-item>
						<ion-item>
								<ion-label color="primary" stacked>URL</ion-label>
								<ion-input type="url" placeholder="" formControlName="URL"></ion-input>
						</ion-item>
						<button ion-button block type="submit" [disabled]="!feed.valid">Submit</button>
				</form>
		</ion-list>
</ion-content>